BasedOnStyle: LLVM
Language: Cpp

# indentation
# =========================
IndentPPDirectives: BeforeHash
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
UseTab: Never

ColumnLimit: 120

# pointers & references
# =========================
DerivePointerAlignment: false
PointerAlignment: Left

# includes
# =========================
SortIncludes: true
IncludeBlocks: Regroup
IncludeIsMainRegex: '^$'
IncludeCategories:
  # standard library
  - Regex: '<([^/>]+)>'
    Priority: 1
  # third-party headers
  - Regex: '<([^>]+\.(h|hpp))>'
    Priority: 2
  # project headers
  - Regex: '"glint/.*"'
    Priority: 3

# alignment
# =========================
AlignAfterOpenBracket: DontAlign
AllowShortFunctionsOnASingleLine: false
AllowAllArgumentsOnNextLine: false

AlignArrayOfStructures: Left

AlwaysBreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: false

# braces
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: All

BraceWrapping:
  AfterControlStatement: true
  AfterNamespace: true

# short constructs
# =========================
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: true

# namespaces
# =========================
NamespaceIndentation: All
FixNamespaceComments: false